<section class="flex flex-col md:flex-row items-center min-h-screen">

    <div
      class="grid place-items-center min-h-screen px-4 py-16 mx-auto sm:max-w-xl md:max-w-full l md:px-24 lg:px-8 lg:py-20"
    >
      <div class="drawing">
        <img class="drawing-a" src="{{link}}" />
      </div>
  
  </div>

  <div
    class="bg-white overflow-y-scroll md:w-1/3 w-full min-h-screen px-6 flex justify-center"
  >
    <div class="w-full h-full">
      <h1 class="text-m text-black mt-10">Leave something nice.</h1>
      <div
        class="mb-4 w-full bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 mt-10"
      >
        <div class="py-2 px-4 bg-white rounded-t-lg dark:bg-gray-800">
          <label for="comment" class="sr-only">Your comment</label>
          <textarea
            id="comment"
            rows="4"
            class="px-0 w-full text-m text-gray-900 bg-white border-transparent focus:border-transparent focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400"
            placeholder="Write a comment..."
            required
          ></textarea>
        </div>
        <div
          class="flex justify-between items-center py-2 px-3 border-t dark:border-gray-600"
        >
          <button
            onclick="postComment()"
            type="submit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-black rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-gray-800"
          >
            Post
          </button>
        </div>
      </div>
{{#each comments}}
  <article class="p-6 mb-3 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
    <footer class="flex justify-between items-center mb-2">
      <div class="flex items-center">
        <div style = "background-color: {{ user.color }}"class="w-4 h-4 mr-3 rounded-full"></div>
        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">

          {{#if (isCurrentUser user.id ../currentUserId)}}
            You
          {{else}}
            {{user.name}}
          {{/if}}
        </p>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          <time pubdate datetime="2022-03-12" title="March 12th, 2022">{{ formatDate date_created }}</time>
        </p>
      </div>
    </footer>
    <p class="text-gray-500 dark:text-gray-400">{{ comment_body }}</p>
  </article>
{{/each}}
    </div>

  </div>
</section>